---
layout: main
---
{% for post in paginator.posts %}
<article class="post">
  {% if post.img %}
    <a class="post-thumbnail" style="background-image: url({{"/assets/img/" | prepend: site.url | append : post.img}})" href="{{site.url}}{{post.url}}"></a>
  {% else %}
  {% endif %}
  <div class="post-content">
    <h2 class="post-title" style="line-height: 1;"><a href="{{site.url}}{{post.url}}">{{post.title}}</a></h2>
    <p>{{ post.content | strip_html | truncatewords: 20 }}</p>
    <span class="post-date">{{post.date | date: '%b %d, %Y'}}&nbsp;&nbsp;&nbsp;—&nbsp;</span>
    <span class="post-words">{% capture words %}{{ post.content | number_of_words }}{% endcapture %}{% unless words contains "-" %}{{ words | plus: 250 | divided_by: 250 | append: " minute read" }}{% endunless %}&nbsp;&nbsp;&nbsp;—&nbsp;</span>
    <span class="page-tag">
      {% for tag in post.tags %}
        <a href="{{site.url}}/blog/tags#{{tag}}" class="post-tags">&#35; {{ tag }}</a>
      {% endfor %}
    </span>
  </div>
</article>
{% endfor %}

{% include pagination.html %}
