<figure class="image-wrapper" >
    {% if include.url %}
        <a href="{{ include.url }}">
    {% endif %}
    
    <img src="{{ include.file }}" style="

    {% if include.max-width %} max-width: {{ include.max-width }};
    {% else %} max-width: 80%; {% endif %}

    {% if include.max-height %} max-height: {{ include.max-height }};
    {% else %} max-height: 1000px; {% endif %}

    " class="post-image" {% if include.alt %} alt="{{ include.alt }}" {% endif %}/>
    
    {% if include.url %}</a>{% endif %}

    {% if include.fig-caption %}
        <figcaption class="caption">{{ include.fig-caption }}</figcaption>
    {% endif %}
 </figure>