{% comment %} Example include!

{% include video.html 
    file="/assets/img/blog/example.mp4"
    video-attributes="muted controls autoplay loop"
    fig-caption="Text underneath"
    url="example.com"
    alt="link to example.com"
    max-width="80%"
    max-height="1000px"  
%}

{% endcomment %}

<figure style="text-align:center;" >
    {% if include.url %}
        <a href="{{ include.url }}">
    {% endif %}
    <video {{ include.video-attributes }} style="
    
    {% if include.max-width %} max-width: {{ include.max-width }};
    {% else %} max-width: 80%; {% endif %}

    {% if include.max-height %} max-height: {{ include.max-height }};
    {% else %} max-height: 1000px; {% endif %}

    " {% if include.alt %} alt="{{ include.alt }}" {% endif %}>
        <source src="{{ include.file }}" type="video/mp4">
    </video>
    {% if include.url %}
        </a>
    {% endif %}
    {% if include.fig-caption %}
        <figcaption class="caption">{{ include.fig-caption }}</figcaption>
    {% endif %}
 </figure>