---
layout: default
---

<aside class="sidebar">
  {% if site.toast-message %}
  {% if site.toast-url %}<a href="{{site.toast-url}}" target="_blank" style="text-decoration: none;">{% endif %}
  <div class="toast" style="background-color: #{{ site.toast-color }};">
    <div class="toast-icon">
      <i class="{{ site.toast-icon }}"></i>
    </div>
    <div class="toast-body">
      <span>{{ site.toast-message }}</span>
    </div>
  </div>
  {% if site.toast-url %}</a>{% endif %}
  {% endif %}
    <header>
    <div class="about">
      <div class="cover-author-image">
        <a href="{{site.url}}/"><img src="{{site.url}}/assets/img/{% if site.author-img %}{{site.author-img}}{% endif %}" alt="{{site.author}}"></a>
      </div>
      <a href="{{site.url}}/" class="author-name">{{site.author}}</a>
      {% if site.author-subtitle %}
        <div class="author-subtitle">{{site.author-subtitle}}</div>
      {% endif %}
      <ul>
      {% if site.about-author1 %}
        <li class="about-author"><span id="about-author1">{{site.about-author1}}</span></li>
      {% endif %}
      {% if site.about-author2 %}
        <li class="about-author"><span id="about-author2">{{site.about-author2}}</span></li>
      {% endif %}
      {% if site.about-author3 %}
        <li class="about-author"><span id="about-author3">{{site.about-author3}}</span></li>
      {% endif %}
      </ul>
      {% if site.about-author-typing %}
        <script src="{{site.url}}/assets/js/typeit.js"></script>
        <script>
          let loopCount = 0;

          const typeItInstance1 = new TypeIt("#about-author1", {
          speed: 90,
          loop: true,
          lifeLike: true,
          deleteSpeed: 35,
          startDelete: true,
          cursor: false,
          startDelay: 0,
          nextStringDelay: 0,
          afterString: async function() {
            typeItInstance1.freeze();
            window.setTimeout(function () {
              typeItInstance2.unfreeze(); 
            }, {{ site.about-author-typing-delay }});
          }
        })
        .delete(null)
        .type("{{site.about-author1-alt}}")
        .delete(null)
        .type("{{site.about-author1}}")
        .go();
        typeItInstance1.freeze();

          const typeItInstance2 = new TypeIt("#about-author2", {
          speed: 80,
          loop: true,
          lifeLike: true,
          deleteSpeed: 25,
          startDelete: true,
          cursor: false,
          startDelay: 0,
          nextStringDelay: 0,
          afterString: async function() {
            typeItInstance2.freeze();
            window.setTimeout(function () {
              typeItInstance3.unfreeze(); 
            }, {{site.about-author-typing-delay}});
          }
        })
        .delete(null)
        .type("{{site.about-author2-alt}}")
        .delete(null)
        .type("{{site.about-author2}}")
        .go();
        typeItInstance2.freeze();

        const typeItInstance3 = new TypeIt("#about-author3", {
          speed: 70,
          loop: true,
          lifeLike: true,
          deleteSpeed: 20,
          startDelete: true,
          cursor: false,
          startDelay: 0,
          nextStringDelay: 0,
          afterString: async function() {
            typeItInstance3.freeze();
            loopCount++;
            window.setTimeout(function () {
              if (loopCount < 1) typeItInstance1.unfreeze(); 
            }, {{ site.about-author-typing-delay }});
          }
        })
        .delete(null)
        .type("{{site.about-author3-alt}}")
        .delete(null)
        .type("{{site.about-author3}}")
        .go();
        typeItInstance3.freeze();

        document.addEventListener("DOMContentLoaded", function () {
          window.setTimeout(function () {
            typeItInstance1.unfreeze();
          }, {{ site.about-author-typing-delay }});
        });
        </script>
      {% endif %}
    </div>
  </header> <!-- End Header -->
  <footer>
    <section class="contact">
      <h3 class="contact-title">Links</h3>
      <ul>
        {% if site.social-twitter %}
          <li><a href="https://twitter.com/{{ site.social-twitter }}" target="_blank"><i class="fab fa-twitter" aria-hidden="true"></i></a></li>
        {% endif %}
        {% if site.social-facebook %}
          <li><a href="https://facebook.com/{{ site.social-facebook }}" target="_blank"><i class="fab fa-facebook" aria-hidden="true"></i></a></li>
        {% endif %}
        {% if site.social-calendar %}
          <li><a href="{{ site.social-calendar }}"><i class="far fa-calendar-alt" aria-hidden="true"></i></a></li>
        {% endif %}
        {% if site.social-github %}
          <li class="github"><a href="https://github.com/{{site.social-github}}" target="_blank"><i class="fab fa-github"></i></a></li>
        {% endif %}
        {% if site.social-linkedin %}
          <li class="linkedin"><a href="https://in.linkedin.com/in/{{site.social-linkedin}}" target="_blank"><i class="fab fa-linkedin"></i></a></li>
        {% endif %}
        {% if site.social-discord %}
          <li class="github"><a href="https://discord.com/users/{{site.social-discord}}" target="_blank"><i class="fab fa-discord"></i></a></li>
        {% endif %}
        {% if site.social-email %}
          <li class="email"><a href="mailto:{{site.social-email}}"><i class="far fa-envelope"></i></a></li>
        {% endif %}
      </ul>
      <ul>
        {% if site.social-vcard %}
        <script>
          function downloadVCF(filename, text) {
            var element = document.createElement('a');
            element.setAttribute('href', 'data:text/vcard;charset=utf-8,' + encodeURIComponent(text));
            element.setAttribute('download', filename);
            element.style.display = 'none';
            document.body.appendChild(element);
            element.click();
            document.body.removeChild(element);
          }
          function setCookie(cname, cvalue, exdays) {
            const d = new Date();
            d.setTime(d.getTime() + (exdays*24*60*60*1000));
            let expires = "expires="+ d.toUTCString();
            document.cookie = cname + "=" + cvalue + ";" + expires + ";path=/";
          }
          function getCookie(cname) {
            let name = cname + "=";
            let decodedCookie = decodeURIComponent(document.cookie);
            let ca = decodedCookie.split(';');
            for(let i = 0; i <ca.length; i++) {
              let c = ca[i];
              while (c.charAt(0) == ' ') {
                c = c.substring(1);
              }
              if (c.indexOf(name) == 0) {
                return c.substring(name.length, c.length);
              }
            }
            return "";
          }
        </script>
        <li class="vcard" id="vcard"><a id="vcardLink" href="{{site.social-vcard}}" class="social-text"><i class="far fa-address-card"></i><span class="social-text">&nbsp;&nbsp;vCONTACT</span></a></li>
        <script>
          let phoneNum = new URLSearchParams(window.location.search).get("p");
          if (phoneNum != null) {
            setCookie("p", phoneNum, 90); // set the phone number cookie for 90 days
            window.history.replaceState({}, document.title, "/"); // reset the window URL
          }

          phoneNum = getCookie("p");
          if (phoneNum != "") { // replace the default vcard with a generated one
            document.getElementById("vcardLink").removeAttribute("href");
            document.getElementById("vcard").style.cursor = "pointer";
            document.getElementById("vcard").addEventListener("click", function(){
              var text =  "BEGIN:VCARD\n" +
                          "VERSION:3.0\n" +
                          "FN;CHARSET=UTF-8:Rory O Hayes\n" +
                          "N;CHARSET=UTF-8:Hayes;Rory;O;;\n" +
                          "EMAIL;CHARSET=UTF-8;type=HOME,INTERNET:roryohayes@gmail.com\n" +
                          "TEL;TYPE=CELL:+1-" + phoneNum + "\n" +
                          "TITLE;CHARSET=UTF-8:Software & Computer Engineer\n" +
                          "URL;CHARSET=UTF-8:https://roryhay.es\n" +
                          "NOTE;CHARSET=UTF-8:I scanned his laser-etched\, wooden NFC business card!\n" +
                          "REV:2022-12-31T10:20:32.227Z\n" +
                          "END:VCARD";
              var filename = "Rory Hayes.vcf";
              downloadVCF(filename, text);
            });
          }
        </script>
        {% endif %}
        {% if site.social-resume %}
        <li><a href="{{site.social-resume}}" class="social-text" target=“_blank”><i class="far fa-file-alt"></i><span class="social-text">&nbsp;&nbsp;RESUME</span></a></li>
        {% endif %}
      </ul>
    </section> <!-- End Section Contact -->
    <div class="copyright">
      <p>&copy; {{site.author}} {{site.time | date: '%Y'}}</p>
    </div>
  </footer> <!-- End Footer -->
</aside> <!-- End Sidebar -->
<div class="content-box clearfix">
  {{ content }}
</div>
