---
layout: main
---
<article class="article-page">
  <div class="page-content">
    {% if page.img %}
    <div class="page-cover-image">
      <figure>
        <img class="page-image" src={{ "/assets/img/" | prepend: site.url | append : page.img}} alt="{{page.title}}">
        {% if page.fig-caption %}
          <figcaption>{{page.fig-caption}}</figcaption>
        {% endif %}
      </figure>
    </div> <!-- End Page Cover Image -->
    {% else %}
    {% endif %}
    <div class="wrap-content">
      <header class="header-page">
        <h1 class="page-title">{{page.title}}</h1>
        <span class="post-date">{{page.date | date: '%b %d, %Y'}}&nbsp;&nbsp;&nbsp;—&nbsp;</span>
        <span class="post-words">{% capture words %}{{ content | number_of_words }}{% endcapture %}{% unless words contains "-" %}{{ words | plus: 250 | divided_by: 250 | append: " minute read" }}{% endunless %}&nbsp;&nbsp;&nbsp;—&nbsp;</span>
        {% if page.github-repo %}
        <span><button onclick="window.location.href='{{page.github-repo}}';"><i class="fab fa-github"></i> Github Repo</button>&nbsp;&nbsp;&nbsp;—&nbsp;</span>
        {% endif %}
        <span class="page-tag">
          {% for tag in page.tags %}
            <a href="{{site.baseurl}}/blog/tags#{{tag}}" class="post-tags">&#35; {{ tag }}</a>
          {% endfor %}
        </span>
        <!-- <div class="page-date"><span>{{page.date | date: '%b %d, %Y'}}&nbsp;&nbsp;&nbsp;&nbsp;</span></div>
        <div class="page-tag">
          {% for tag in page.tags %}
            <a href="{{site.baseurl}}/tags#{{tag}}" class="tag">&#35; {{ tag }}</a>
          {% endfor %}
        </div>
        <span class="post-words">{% capture words %}{{ content | number_of_words }}{% endcapture %}{% unless words contains "-" %}{{ words | plus: 250 | divided_by: 250 | append: " minute read" }}{% endunless %}</span> -->
      </header>
      {{content | markdownify}}
      <div class="page-footer">
        <!-- <div class="page-share">
          <a href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ site.url }}{{ page.url }}" title="Share on Twitter" rel="nofollow" target="_blank">Twitter</a>
          <a href="https://facebook.com/sharer.php?u={{ site.url }}{{ page.url }}" title="Share on Facebook" rel="nofollow" target="_blank">Facebook</a>
          <a href="https://plus.google.com/share?url={{ site.url }}{{ page.url }}" title="Share on Google+" rel="nofollow" target="_blank">Google+</a>
        </div> -->
        <div class="page-tag">
          <a href="{{site.url}}" class="post-tags"><i class="fas fa-arrow-left" aria-hidden="true"></i> Back Home</a>&nbsp;&nbsp;&nbsp;Similar Posts:
          {% for tag in page.tags %}
            <a href="{{site.baseurl}}/blog/tags#{{tag}}" class="post-tags">&#35; {{ tag }}</a>
          {% endfor %}
        </div>
      </div>
      {% include disqus.html %}
    </div> <!-- End Wrap Content -->
  </div> <!-- End Page Content -->
</article> <!-- End Article Page -->
