---
layout: main
---
<article class="article-page">
  <div class="page-content">
    {% if page.img %}
    <div class="page-cover-image">
      <figure>
        <img class="page-image" src={{ "/assets/img/" | prepend: site.url | append : page.img}} alt="{{page.title}}">
        {% if page.fig-caption %}
          <figcaption>{{page.fig-caption}}</figcaption>
        {% endif %}
      </figure>
    </div> <!-- End Page Cover Image -->
    {% else %}
    {% endif %}
    <div class="wrap-content">
      <header class="header-page">
        <h1 class="page-title">{{page.title}}</h1>
        <span class="post-date">{{page.date | date: '%b %d, %Y'}}&nbsp;&nbsp;—&nbsp;&nbsp;</span>
        <span class="post-words">{% capture words %}{{ content | number_of_words }}{% endcapture %}{% unless words contains "-" %}{{ words | plus: 250 | divided_by: 250 | append: " minute read" }}{% endunless %}&nbsp;&nbsp;—&nbsp;&nbsp;</span>
        <span class="page-tag">
          {% for tag in page.tags %}
            <a href="{{site.baseurl}}/blog/tags#{{tag}}" class="post-tags">&#35; {{ tag }}</a>
          {% endfor %}
        </span>
        {% if page.github-repo %}
        <br><span><a href="{{page.github-repo}}" target="_blank"><button><i class="fab fa-github"></i> View on Github</button></a></span>
        {% endif %}
      </header>
      {{content | markdownify}}
      <div class="page-footer">
        <div class="page-tag">
          <a href="{{site.url}}" class="post-tags"><i class="fas fa-arrow-left" aria-hidden="true"></i> Back Home</a>&nbsp;&nbsp;&nbsp;Similar Posts:
          {% for tag in page.tags %}
            <a href="{{site.baseurl}}/blog/tags#{{tag}}" class="post-tags">&#35; {{ tag }}</a>
          {% endfor %}
        </div>
      </div>
      {% include disqus.html %}
    </div> <!-- End Wrap Content -->
  </div> <!-- End Page Content -->
</article> <!-- End Article Page -->
